<%# <footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  </div>
  <!-- Copyright -->
</footer> %>



  <div class="card bottom">
  <div class="card-footer text-muted text-center">
    <p>all rights reserve by developer</p>
  </div>
</div>